# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
*.env

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


# Data
data/*.csv
data/**/*.csv
!data/**/.gitkeep




# Models
# (không ignore gì hết)


# Reports
reports/figures/*
reports/*.md

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/